@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Market</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/emarket.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
    <header>
        <br/>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-success border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-Market</a>
                !-->
                <div class="navbar-brand">
                    <i class="fa fa-shopping-basket fa-3x" style="color: rgb(202, 255, 202);" aria-hidden="true"></i>
                </div>
                <h4 class="ms-3 text-white">E-Market</h4>
                @if(Html.Raw(HttpContextAccessor.HttpContext!.Request.Cookies["Login"]) != null){
                    <h6 class="ms-5 mb-1 text-info">Welcome, @Html.Raw(HttpContextAccessor.HttpContext!.Request.Cookies["Login"])!</h6>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Item" asp-action="Index">Items</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Login" asp-action="UsernameLoginIndex">Login</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E-Market - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
